@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.1%; /* #F0F0F0 */
    --foreground: 221 39% 11%; /* A dark blue for text */
    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 39% 11%;
    --primary: 221 63% 32%; /* #1E3A8A */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 221 39% 11%;
    --muted: 0 0% 90%;
    --muted-foreground: 221 20% 40%;
    --accent: 258 91% 76.1%; /* #A78BFA */
    --accent-foreground: 221 39% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 258 91% 76.1%;
    --chart-1: 221 63% 32%; /* primary */
    --chart-2: 258 91% 76%; /* accent */
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 221 39% 11%;
    --foreground: 0 0% 98%;
    --card: 221 40% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 221 39% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 221 39% 11%;
    --secondary: 221 40% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 40% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 258 91% 76.1%;
    --accent-foreground: 221 39% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 40% 20%;
    --input: 221 40% 20%;
    --ring: 258 91% 76.1%;
    --chart-1: 0 0% 98%; /* primary */
    --chart-2: 258 91% 76%; /* accent */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
